<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{>links}}
    <title>Your City's Weather</title>
  </head>
  <body>
    {{>header}}
    <section class="hero">
      <main class="grid-container">
        <div class="about-left">
          <div class="img-container">
            <img src="../images/about.png" alt="" />
          </div>
        </div>
        <div class="right">
          <p class="headline">Hey I am rahul mondal</p>
          <p class="text">
            I am Designer cum Developer. And I can make any type of website for you from scratch. Feel free to contact me.
          </p>
          <button class="btn"><a href="#">Portfolio</a></button>
        </div>
      </main>
    </section>
    {{>footer}}

    <script src="./js/main.js"></script>
  </body>
</html>
